<nav class="col-md-2 d-none d-md-block bg-light sidebar">
   <div class="sidebar-sticky">
      <ul class="nav flex-column">
         <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">
            <i class="fas fa-tachometer-alt mr-2"></i>
            Dashboard <span class="sr-only">(current)</span>
            </a>
         </li>
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span class="text-secondary">MASTER DATA</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
               <span data-feather="plus-circle"></span>
            </a>
         </h6>
         <li class="nav-item">
            <a class="nav-link <%= path === '/master' ? 'active' : '' %>" href="/master/buku">
            <i class="fas fa-book mr-2"></i>
            Data Buku
            </a>
         </li>
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span class="text-secondary">TRANSAKSI BARANG</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
               <span data-feather="plus-circle"></span>
            </a>
         </h6>
         <li class="nav-item">
            <a class="nav-link <%= path === '/transaksi/barang-masuk' ? 'active' : '' %>" href="/transaksi/barang-masuk">
            <i class="fas fa-sign-in-alt mr-2"></i>
            Barang Masuk
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link <%= path === '/transaksi/barang-keluar' ? 'active' : '' %>" href="/transaksi/barang-keluar">
            <i class="fas fa-sign-out-alt mr-2"></i>
            Barang Keluar
            </a>
         </li>
         <% if (isAdmin) { %>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
               <span class="text-secondary">Users</span>
               <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
               </a>
            </h6>
            <li class="nav-item">
               <a class="nav-link <%= path === '/users' ? 'active' : '' %>" href="/user">
               <i class="fas fa-sign-out-alt mr-2"></i>
                  Data Users
               </a>
            </li>
         <% } %>
      </ul>
   </div>
</nav>