<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h1 class="h2"><%= pageTitle %></h1>
</div>

<div class="row mt-4">
   <div class="col">
      <a href="/master/add-book" class="btn btn-primary btn-sm"><i class="fas fa-plus mr-2"></i>Book</a>
   </div>
   <div class="col">
      <form class="form-inline float-right" action="" method="post">
         <label class="sr-only" for="inlineFormInputGroupSearch2">Search</label>
         <div class="input-group mb-2 mr-sm-2">
            <input type="text" name="keyword" class="form-control form-control-sm" id="inlineFormInputGroupSearch2" placeholder="Search Something...">
         </div>
         <button type="submit" name="search" class="btn btn-primary btn-sm mb-2"><i class="fas fa-search "></i></button>
      </form>
   </div>
</div>

<%- include('../../includes/alert.ejs', { type: type, message: message }) %> 

<% if (books.length > 0) { %>
   <table class="table table-bordered mt-3">
      <thead>
         <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Stock</th>
            <th scope="col" style="width:  12%">Action</th>
         </tr>
      </thead>
      <tbody>
         <% for( let book of books ) { %>
            <tr>
               <td><%= book.title %> </td>
               <td><%= book.author %> </td>
               <td><%= book.publisher  %> </td>
               <td><%= book.stock %> </td>
               <td>
                  <a href="/master/detail-book/<%= book.id %>" class="btn btn-secondary btn-sm  text-light"><i class="fas fa-info-circle"></i></a>
                  <a href="/master/edit-book/<%= book.id %>" class="btn btn-warning btn-sm text-light"><i class="fas fa-edit"></i></a>
                  <form action="/master/delete-book" method="POST" class="d-inline">
                     <input type="hidden" name="bookId" value="<%= book.id %>">
                     <button type="submit" class="btn btn-danger btn-sm text-light"><i class="fas fa-trash"></i></button>
                  </form>
               </td>
            </tr>
         <% } %>
      </tbody>
   </table>
<% } else { %>
   <div class="mt-5">
      <h3 class="text-center">No Books Found!</h3>
   </div>
<% } %> 

