<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h1 class="h2"><%= pageTitle %></h1>
</div>

<div class="row mt-4">
   <div class="col">
      <a href="/master/tambah-buku" class="btn btn-primary btn-sm"><i class="fas fa-plus mr-2"></i>Buku</a>
   </div>
</div>

<%- include('../../includes/alert.ejs', { type: type, message: message }) %> 

<% if (books.length > 0) { %>
   <table class="table table-bordered mt-3 text-center">
      <thead>
         <tr>
            <th scope="col">Judul</th>
            <th scope="col">Penulis</th>
            <th scope="col">Penerbit</th>
            <th scope="col">Stok Tersisa</th>
            <th scope="col" style="width:  12%">Aksi</th>
         </tr>
      </thead>
      <tbody>
         <% for( let book of books ) { %>
            <tr>
               <td><%= book.title %> </td>
               <td><%= book.author %> </td>
               <td><%= book.publisher  %> </td>
               <td><%= book.stock %> </td>
               <td>
                  <a href="/master/detail-buku/<%= book.id %>" class="btn btn-secondary btn-sm  text-light"><i class="fas fa-info-circle"></i></a>
                  <% if (isAdmin) { %>
                     <a href="/master/ubah-buku/<%= book.id %>" class="btn btn-warning btn-sm text-light"><i class="fas fa-edit"></i></a>
                     <form action="/master/hapus-buku" method="POST" class="d-inline">
                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                        <input type="hidden" name="bookId" value="<%= book.id %>">
                        <button type="submit" class="btn btn-danger btn-sm text-light"><i class="fas fa-trash"></i></button>
                     </form>
                  <% } %>
               </td>
            </tr>
         <% } %>
      </tbody>
   </table>
<% } else { %>
   <div class="mt-5">
      <h3 class="text-center">Data Buku Tidak Ditemukan</h3>
   </div>
<% } %> 

