<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h1 class="h2"><%= pageTitle %></h1>
</div>

<div class="row">
   <div class="col-3">
      <img class="img-fluid" src="/<%= book.cover %>" alt="<%= book.title %>">
   </div>
   <div class="col">
      <table class="table table-bordered table-hover">
         <tr>
            <th style="width:  17%">Judul Buku</th>
            <td><%= book.title %> </td>
         </tr>
         <tr>
            <th>Penulis</th>
            <td><%= book.author %></td>
         </tr>
         <tr>
            <th>Penerbit</th>
            <td><%= book.publisher %></td>
         </tr>
         <tr>
            <th>Jumlah Halaman</th>
            <td><%= book.totalPages %></td>
         </tr>
         <tr>
            <th>Harga Buku</th>
            <td><%= book.price %></td>
         </tr>
         <tr>
            <th>Stok Tersedia</th>
            <td><%= book.stock %></td>
         </tr>
         <tr>
            <th>Deskripsi</th>
            <td><%= book.description %> </td>
         </tr>
      </table>
   </div>
</div>

<a href="/master/buku" class="btn btn-secondary btn-sm float-right"><i class="fas fa-chevron-circle-left mr-2"></i>Kembali</a>